<%= form_with model: @product.comment_on_products.build  do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>