<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your order status is updates!!!!   <%= @user.email %></p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.first_name %></p>
    <p>order_status: <%= @order.status %></p>
  </body>
</html>